.home{
    width: 1000px;
    height: 400px;
    display: flex;
    margin-top: 8%;
    /* border: 5px solid black */
}
.left_content img{
    width: 500px;
    height: 400px;
}
.right_content h1{
    font-weight: 700;
    font-size: 90px;
}
.right_content{
    margin-top:50px
}


